@import "variables";

@font-face {
	font-family: 'bpwIconsFont';
	src: url('#{$icomoon-font-path}/bpwIconsFont.eot?wqnjod');
	src: url('#{$icomoon-font-path}/bpwIconsFont.eot?wqnjod#iefix') format('embedded-opentype'),
	url('#{$icomoon-font-path}/bpwIconsFont.ttf?wqnjod') format('truetype'),
	url('#{$icomoon-font-path}/bpwIconsFont.woff?wqnjod') format('woff'),
	url('#{$icomoon-font-path}/bpwIconsFont.svg?wqnjod#bpwIconsFont') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bpwI {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'bpwIconsFont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
	@return unquote("\"") + $str + unquote("\"");
}

.bpw-icon-delivery {
	&:before {
		content: unicode($bpw-icon-delivery);
	}
}

.bpw-icon-geofence {
	&:before {
		content: unicode($bpw-icon-geofence);
	}
}

.bpw-icon-packages {
	&:before {
		content: unicode($bpw-icon-packages);
	}
}

.bpw-icon-route-start {
	&:before {
		content: unicode($bpw-icon-route-start);
	}
}

.bpw-icon-route-target {
	&:before {
		content: unicode($bpw-icon-route-target);
	}
}

