@import "Variables";

$bpw-font-family-base: $GLOBAL-BASE-FONT !default;

body {
	margin: 0;
	padding: 0;
	font-family: $bpw-font-family-base;
}

html.desktop, .desktop body, html.tablet, .tablet body {
	height: 100%;
	overflow: hidden;
}

html, body {
	height: 100%;
	overflow: hidden;
}

$bpwUnternehmensfarbe: #002851;
$bpwAkzentfarbeAquamarin: #79bbc8;
$bpwAkzentfarbeBrombeere: #5c2748;
$SekundaerfarbeGrau: #aeaaa7;
$StandardfarbeSchwarz: #000000;
$bpwBlue: #129fd8;
$bpwBlueDark: #0e7ca8;
$bpwGray: #8c8b8b;
$bpwGreen: #c7d300;
$light-dark: #e0e0e0;


.bg-bpw-company {
	background-color: $bpwUnternehmensfarbe !important;
}
.bg-bpw-aquamarin {
	background-color: $bpwAkzentfarbeAquamarin !important;
}
.bg-bpw-brombeere {
	background-color: $bpwAkzentfarbeBrombeere !important;
}
.bg-bpw-gray {
	background-color: $SekundaerfarbeGrau !important;
}
.bg-bpw-gray-light {
	background-color: #adb4b9 !important;
}
.bg-bpw-blue {
	background-color: $bpwBlue !important;
}
.bg-bpw-blue-dark {
	background-color: $bpwBlueDark !important;
}
.bg-light-dark {
	background-color: $light-dark !important;
}

.bg-bpw-select-list-item {background-color: #eaeaea !important;

}

.btn-light-dark {
	color: #000;
	background-color: $light-dark;
	border-color: $light-dark;
}


@mixin text-dark() {
	color: #343a40 !important;
}
.text-bpw-company {
	color: $bpwUnternehmensfarbe !important;
}
.text-bpw-aquamarin {
	color: $bpwAkzentfarbeAquamarin !important;
}
.text-bpw-brombeere {
	color: $bpwAkzentfarbeBrombeere !important;
}
.text-bpw-gray {
	color: $SekundaerfarbeGrau !important;
}
.text-bpw-blue {
	color: $bpwBlue !important;
	&.active {
		color: $bpwGray !important;
	}
}
.leaflet-control-zoom-in {
	color: $bpwBlue !important;
}
.leaflet-control-zoom-out {
	color: $bpwBlue !important;
}
.button-state {
	.fa-crosshairs {
		font-size: 1.2rem;
		position: relative;
		top: 4px;
		color: #129fd8;
		left: -1px;
		.ios & {
			top: 6px;
			left: -6px;
		}
	}
	.fa-expand {
		font-size: 1.2rem;
		position: relative;
		top: 4px;
		color: #129fd8;
		left: 0px;
		.ios & {
			top: 5px;
			left: -6px;
		}
	}

	.fa-draw-polygon {
		font-size: 1.2rem;
		position: relative;
		top: 4px;
		color: #129fd8;
		left: 0px;
		.ios & {
			top: 5px;
			left: -6px;
		}
	}

	.fa-route {
		font-size: 1.2rem;
		position: relative;
		top: 4px;
		color: #129fd8;
		left: 0px;
		.ios & {
			top: 5px;
			left: -6px;
		}
	}
}
.bs-tooltip-top {
	.arrow {
		&::before {
			border-top-color: $bpwGray !important;
		}
	}
}

.bs-tooltip-right {
	.arrow {
		&::before {
			border-right-color: $bpwGray !important;
		}
	}
}

.bs-tooltip-bottom {
	.arrow {
		&::before {
			border-bottom-color: $bpwGray !important;
		}
	}
}

.bs-tooltip-left {
	.arrow {
		&::before {
			border-left-color: $bpwGray !important;
		}
	}
}
.tooltip-inner {
	padding: .15rem .15rem !important;
	color: $bpwGray !important;
	text-align: center;
	background-color: white !important;
	border: 1px solid #8c8b8b;
}

.hide {
	display: none !important;
}

.show {
	display: block;
}



@import "sass/libs/fontawesome/fontawesome";
@import "sass/libs/fontawesome/brands";
@import "sass/libs/fontawesome/regular";
@import "sass/libs/fontawesome/solid";
@import "sass/libs/fontawesome/light";

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import 'responsive-border';
@import 'reboot';

@import "App/component/DateRangePicker";
@import "App/component/BpwBrand.scss";
@import "App/component/Header.scss";
@import "App/component/ModuleFilter.scss";
@import "App/component/ModuleSearch.scss";
@import "App/component/TrackerInputCheckDelivery.scss";
@import "App/component/AddressSearchInput.scss";
@import "App/component/DateTimePicker.scss";

@import "App/sites/Delivery.scss";
@import "App/sites/Devices.scss";
@import "App/sites/DevicesDetail.scss";
@import "App/sites/Asset.scss";
@import "App/sites/AssetDetail.scss";
@import "App/sites/AssetCreateUpdate.scss";
@import "App/sites/DeliveryDetail.scss";
@import "App/sites/DeliveryCreate";
@import "App/sites/AssetSort";
@import "App/sites/UserCreateUpdate";
