$bpw-btn-font-size-lg: $font-size-sm !default;

//
// Link Colors
//
$link-color: theme-color("primary") !default;
$link-hover-color: darken($link-color, 15%) !default;

//
// Links
//

a {
	color: $link-color !important;

	@include hover {
		color: $link-hover-color !important;
	}
}