// /*------------------------------------*\
//     #FONTS
// \*------------------------------------*/

// @sass-export-section="fontSettings"

/* stylelint-disable string-quotes */

// The font-weights are defined as numerical values instead of named values
// in order to avoid browser mapping issues
// (see https://www.webtype.com/info/articles/fonts-weights/).
//
// As the values can differ to each font these values should be checked
// and modified

$font-family-sans-serif: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-icon: FontAwesome !default;

$GLOBAL-BASE-FONT: $font-family-base !default;
$GLOBAL-ICON-FONT: $font-family-icon !default;

$GLOBAL-FONT-WEIGHT-REGULAR: 400 !default;
$GLOBAL-FONT-WEIGHT-MEDIUM: 500 !default;
$GLOBAL-FONT-WEIGHT-BOLD: 700 !default;

$GLOBAL-FONT-SIZE: 18px !default;

$BASE-FONT-VARIANTS: (
		"bold": $GLOBAL-FONT-WEIGHT-BOLD,
		"medium": $GLOBAL-FONT-WEIGHT-MEDIUM,
		"regular": $GLOBAL-FONT-WEIGHT-REGULAR
) !default;

$display5-size: 2.5rem !default;
$display6-size: 1.5rem !default;

$display5-weight: $GLOBAL-FONT-WEIGHT-BOLD !default;

$font-size-sm: 1rem * .875 !default;

// /*------------------------------------*\
//     #COLORS
// \*------------------------------------*/

// Overwrite Bootstrap color palette.
$blue: #002851 !default;
$bpw_green: #CDDC4B !default;
$white: #fff !default;
$secondary: $bpw_green !default;
$gray-500: #adb5bd !default;

// Literal color palette.
// DON'T USE THESE VARS IN YOUR CODEBASE!!!
$__black__: #000 !default;
$__white__: $white !default;
$__bpw_blue__: $blue !default;
$__bpw_green__: $bpw_green !default;
$__silver-light__: #f2f2f2 !default;

// Semantic color palette.
// USE THESE VARS IN YOUR CODEBASE.
// @sass-export-section="semanticColors"
$COLOR-BASE-BACKGROUND: $__white__ !default;
$COLOR-BASE-TEXT: $__black__ !default;
$COLOR-BASE: $__black__ !default;
$COLOR-PRIMARY: $__bpw_blue__ !default;
$COLOR-SECONDARY: $__bpw_green__ !default;
$COLOR-WHITE: $__white__ !default;
$COLOR-PALE: $__silver-light__ !default;

// @sass-export-section="backgroundColors"
$BACKGROUND-UTILITIES: (
		"alternative": $COLOR-PALE,
		"brand": $COLOR-PRIMARY,
		"secondary": $COLOR-PALE,
		"white": $COLOR-WHITE
) !default;
// @end-sass-export-section

// Navbar
$navbar-nav-link-padding-x: 1rem !default;

// Text
$text-primary: $COLOR-PRIMARY !default;

// /*------------------------------------*\
//     #BASE SETTINGS
// \*------------------------------------*/

// Border radius
$border-radius-xl: .4rem !default;
$border-radius-lg: .2rem !default;
$border-radius-sm: .1rem !default;

// Border
$GLOBAL-LARGE-BORDER-RADIUS: $border-radius-xl !default;
$GLOBAL-INPUT-BORDER-RADIUS: $border-radius-lg !default;
$GLOBAL-BORDER-PRIMARY-COLOR: $COLOR-PRIMARY !default;

// Contextual colors
.text-primary {
	color: $text-primary !important;
}

// Nav
$nav-tabs-link-active-color: $COLOR-PRIMARY !default;
$nav-tabs-border-color: $COLOR-PRIMARY !default;
$nav-tabs-link-color: $gray-500 !default;

