@import "bpwVariables";

html.desktop, .desktop body, html.tablet, .tablet body {
	height: 100%;
	overflow: hidden;
}

.bpw-item-list {
	overflow-y: scroll;
	overflow-x: hidden;
}

.detail-infomations {
	small.title {
		color: $bpwGray;

		&.title-sub {
			font-style: italic;
			font-size: 0.7rem;
			cursor: pointer;
		}
	}
}

.cursor-pointer {
	cursor: pointer;
}

.btn-bpw {
	font-weight: 400;
	color: $bpwBlue;
	background-color: #0000;
}

.btn-bpw-primary {
	font-weight: 400;
	color: #ffffff;
	background-color: $bpwBlue;
	&:hover {
		background-color: #129fd8d4;
	}
}

a {
	color: $bpwBlue;
	text-decoration: none;
	background-color: #0000;
	-webkit-text-decoration-skip: objects;
}

.btn-bpw-gray {
	position: relative;
	border-color: #8c8b8b !important;
	opacity: 0.5;
	color: #343a40 !important;
	&:hover {
		background-color: #d4d3d35c;
	}
}

#languagebtn {
	background-color: transparent;
	img {
		height: 18px;
		.mobile & {
			height: 26px;
		}
	}
	&.dropdown-toggle::after {
		border-width: 0 !important;
	}
}

.select2 {
	&.is-invalid {
		.select2-selection {
			border-color: #dc3545 !important;
		}
	}
}

th, tr {
	&.active {
		background-color: #d3d5d6 !important;
	}
}

