
$bpwUnternehmensfarbe: #002851;
$bpwAkzentfarbeAquamarin: #79bbc8;
$bpwAkzentfarbeBrombeere: #5c2748;
$SekundaerfarbeGrau: #aeaaa7;
$StandardfarbeSchwarz: #000000;
$bpwBlue: #129fd8;
$bpwBlueDark: #0e7ca8;
$bpwGray: #8c8b8b;

$light-dark: #e0e0e0;


.bg-bpw-company {
	background-color: $bpwUnternehmensfarbe !important;
}
.bg-bpw-aquamarin {
	background-color: $bpwAkzentfarbeAquamarin !important;
}
.bg-bpw-brombeere {
	background-color: $bpwAkzentfarbeBrombeere !important;
}
.bg-bpw-gray {
	background-color: $SekundaerfarbeGrau !important;
}
.bg-bpw-gray-light {
	background-color: #adb4b9 !important;
}
.bg-bpw-blue {
	background-color: $bpwBlue !important;
}
.bg-bpw-blue-dark {
	background-color: $bpwBlueDark !important;
}
.bg-light-dark {
	background-color: $light-dark !important;
}

.bg-bpw-select-list-item {background-color: #eaeaea !important;

}

.btn-light-dark {
	color: #000;
	background-color: $light-dark;
	border-color: $light-dark;
}


@mixin text-dark() {
	color: #343a40 !important;
}
.text-bpw-company {
	color: $bpwUnternehmensfarbe !important;
}
.text-bpw-aquamarin {
	color: $bpwAkzentfarbeAquamarin !important;
}
.text-bpw-brombeere {
	color: $bpwAkzentfarbeBrombeere !important;
}
.text-bpw-gray {
	color: $SekundaerfarbeGrau !important;
}
.text-bpw-blue {
	color: $bpwBlue !important;
	&.active {
		color: $bpwGray !important;
	}
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin noselectMix {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
