@import "bpwVariables";
@import "libs/fontGoogle/style";
//@import "bootstrap";
//@import "../../module/resources/bootstrap-datetimepicker/scss/bootstrap-datetimepicker-build";
//@import "libs/toastr";
//@import "libs/chosen";
//@import "libs/date-picker";
//@import "../../node_modules/select2/src/scss/core";
//@import "../../node_modules/select2/src/scss/theme/classic/layout";
//@import "../../node_modules/select2/src/scss/theme/default/layout";
//@import "../../node_modules/select2-bootstrap4-theme/src/select2-bootstrap4";
@import "map/style";
//@import "nav/mainSiteNav";
//@import "nav/mainNav";
@import "bpw-style";
@import "bpwFont/style";
@import "bpwLogoFont/style";
@import "bpwIconsFont/style";
//@import "loader";
@import "userEditAdd";

.select2-container--bootstrap4 {
	display: inline-block;
}
.select2-container--bootstrap4 .select2-selection--single {
	line-height: 1.3;
}
.select2-container--bootstrap4 .select2-selection__clear {
	margin-top: -3px;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
	margin-top: -2px;
}

.leaflet-control-zoom-in {
	color: $bpwBlue !important;
}
.leaflet-control-zoom-out {
	color: $bpwBlue !important;
}

.button-state {
	.fa-crosshairs {
		font-size: 1.2rem;
		position: relative;
		top: 4px;
		color: #129fd8;
		left: -1px;
		.ios & {
			top: 6px;
			left: -6px;
		}
	}
	.fa-expand {
		font-size: 1.2rem;
		position: relative;
		top: 4px;
		color: #129fd8;
		left: 0px;
		.ios & {
			top: 5px;
			left: -6px;
		}
	}

	.fa-draw-polygon {
		font-size: 1.2rem;
		position: relative;
		top: 4px;
		color: #129fd8;
		left: 0px;
		.ios & {
			top: 5px;
			left: -6px;
		}
	}

	.fa-route {
		font-size: 1.2rem;
		position: relative;
		top: 4px;
		color: #129fd8;
		left: 0px;
		.ios & {
			top: 5px;
			left: -6px;
		}
	}
}
.bs-tooltip-top {
	.arrow {
		&::before {
			border-top-color: $bpwGray !important;
		}
	}
}

.bs-tooltip-right {
	.arrow {
		&::before {
			border-right-color: $bpwGray !important;
		}
	}
}

.bs-tooltip-bottom {
	.arrow {
		&::before {
			border-bottom-color: $bpwGray !important;
		}
	}
}

.bs-tooltip-left {
	.arrow {
		&::before {
			border-left-color: $bpwGray !important;
		}
	}
}
.tooltip-inner {
	padding: .15rem .15rem !important;
	color: $bpwGray !important;
	text-align: center;
	background-color: white !important;
	border: 1px solid #8c8b8b;
}


