@import "../bpwVariables";
#mainNavModule {
	#autocomplete {
		position: absolute;
		top: 39px;
		z-index: 100000;
		hr {
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}
		.list-group-item {
			padding: 0.30rem 0.3rem;
			cursor: pointer;
			&.header {
				@include noselectMix;
				cursor: auto;
				border-width: 0;
				padding-left: 0.50rem;
				color: $bpwGray;
				.fa-spinner {
					position: relative;
					top: 5px;
				}
			}
			> .fas {
				color: $bpwBlue;
				padding: 0 0.5rem 0 0;
			}
			&:nth-child(2) {
				border-top-left-radius: 0.25rem;
				border-top-right-radius: 0.25rem;
			}
			&:nth-child(5){
				margin-bottom: 0;
				border-bottom-right-radius: 0.25rem;
				border-bottom-left-radius: 0.25rem;
			}
			&.no-items {
				font-style: italic;
				border-width: 0;
				cursor: auto;
				@include noselectMix;
			}

			&.more {
				border-width: 0;
				font-size: 0.8rem;
			}
		}
	}
}