@import "../bpwVariables";
@import "../bootstrap";
@mixin setBgAndText() {
	@include text-dark;
	@extend .bg-light;
	&::placeholder {
		@include text-dark;
		// Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
		opacity: 1;
	}
}
@mixin setBgAndText() {
	@include text-dark;
	@extend .bg-light;
	&::placeholder {
		@include text-dark;
		// Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
		opacity: 1;
	}
}

#mainNavModule {
	.bpwl {
		@include setBgAndText();
	}

	#smMenuSearch {
		#searchInput {
			@include setBgAndText();
			border-left-width: 0px;
			font-weight: 300;
			&::placeholder {
				opacity: 0.3;
				color: #aeb5bc;
				font-weight: 300;
			}
		}
		#searchInputPrepend {
			@include setBgAndText();
		}
		#searchInputAppend {
			@include setBgAndText();
			.fas {
				opacity: 0.3;
			}
		}
	}
	#tabletMenu {
		display: block;
		.desktop & {
			display: none;
		}
		.windows.tablet & {
			display: none;
		}
		.phone & {
			display: none;
		}
	}
	#desktopRightMenu {
		display: flex;
		.tablet & {
			display: none;
		}
		.windows.tablet & {
			display: flex;
		}
		.phone & {
			display: none;
		}
	}
	#mobileRightMenu {
		.desktop & {
			display: none;
		}
		.windows.tablet & {
			display: none;
		}
	}
	.navbar-expand-xl {
		.tablet.portrait & {
			display: inline-block !important;
			> * {
				float: left;
			}

			#tabletMenu {
				margin: 0 !important;
				padding-top: 10px;
			}
			#main-search {
				width: 26%;
				padding-top: 10px;
			}
		}
	}

	.navbar-toggler-icon {
		@include setBgAndText();
	}

	.nav-item-vertical-line {
		width: 0px;
		.tablet.landscape &, .tablet.portrait & {
			display: none;
		}
		@extend .pr-2;
		.vertical-line {
			height: 45px;
			border-left: 2px inset;
			border-color: #d0d0d047;
			position: relative;
			top: 7px;
			padding: 0.5rem 9px;
		}
	}
	#question-icon {
		font-size: 25px;
		padding-top: 0.7rem !important;
		@extend .pr-2;
	}
	#info-icon {
		font-size: 25px;
		padding-top: 0.7rem !important;
		@extend .pr-2;
	}
	.info-icon {
		cursor: pointer;
		&:hover {
			@extend .text-bpw-blue;
		}
	}
	#avatarDropdown {
		@extend .pt-2;
		@extend .pr-2;

	}
	> div > .navbar {
		border-bottom: 1px solid #808080;
		-webkit-box-shadow: 0px 2px 28px -6px #808080;
		-moz-box-shadow: 0px 2px 28px -6px #808080;
		box-shadow: 0px 2px 28px -6px #808080;
		@extend .p-1;
		@include setBgAndText();

		.bpwi {
			font-size: 1.5rem;
			position: relative;
			top: 5px;
			@extend .text-bpw-blue;
		}

		.fa-users, .fa-map-marker-alt {
			@extend .text-bpw-blue;
			font-size: 1.2rem;
			position: relative;
			top: 1px;
		}

		#mainNavigationToggle {
			.navbar-nav {
				.nav-item {
					.active-line {
						visibility: hidden;
						height: 4px;
						background-color: $bpwBlue;
						width: 100%;
						position: absolute;
						top: 100%;
						left: 0;
						margin-top: 8px;
						.tablet & {
							margin-top: -2px;
						}

						.windows.tablet & {
							margin-top: 7px;
						}
					}
					&.show, &.active, &:hover {
						position: relative;
						.active-line {
							visibility: visible;
						}
					}
					.dropdown-menu {
						padding-bottom: 0;
						&.show {
							margin-top: 13px;
						}
						.dropdown-header, .dropdown-item {
							border-bottom: 1px solid gray;
							&:last-of-type {
								border-bottom: 0 solid gray;
							}
						}
						.dropdown-header {
							display: block;
							padding: 0.5rem 1.5rem;
							margin-bottom: 0;
							color: #6c757d;
							white-space: nowrap;
							font-size: 1rem;
							font-weight: 500;
							i {
								margin-right: 10px;
							}
							&.dropdown-header-link {
								i {
									margin-right: 1.3rem;
								}
							}
						}
						.dropdown-item {
							background-color: #dadada;
							border-bottom: 1px solid gray;
							padding: 0.50rem 1.5rem;
							padding-left: 4rem;
						}
					}
				}
			}
		}
		a.nav-link-menu {
			@include setBgAndText();
			@extend .p-2;
			display: block;
			text-decoration: none;
			&:hover, &:focus {
				background-color: transparent !important;
			}
		}
		#sidebar-click {
			@include setBgAndText();

			.tablet.landscape &, .tablet.portrait & {
				display: none;
			}
		}
		.navbar-brand {
			.bpw-logo-iconlogo {
				font-size: 36px;
				margin-left: 10px;
			}
			.bpw-logo-iconlogoFont {
				font-size: 36px;
				margin-left: 10px;
			}
		}
		@include setBgAndText();
		#main-search {
			.input-group {
				width: 311px;
			}
			#searchInput {
				@include setBgAndText();
				border-left-width: 0px;
				border-right-width: 0px;
				&::placeholder {
					opacity: 0.3;
					color: #aeb5bc
				}
			}
			#searchInputPrepend {
				@include setBgAndText();
			}
			#searchInputAppend {
				@include setBgAndText();
				.fas {
					opacity: 0.3;
				}
			}
		}
		#userNameElement {
			font-size: 0.9em;
			cursor: pointer;
			@extend .noselect;
			a {
				@include text-dark;
			}
		}
		#sidebar-click {
			color: #ffffff;
		}

		.avatarImage {
			font-size: 3rem;
			color: $bpwGray;
		}
		#avatarContainer {
			right: 4px;
			left: auto;
		}
		.avatarNav, #avatarContainer {
			cursor: pointer;
			> a.nav-link-menu {
				@extend .p-0;
				@include setBgAndText();
			}
			.avatarImg {
				width: 44px;
				border: 2px solid #fff;
			}

			.btn-group > .btn {
				&:hover {
					@include setBgAndText();
				}
			}
			.dropdown-toggle::after {
				bottom: 0.7rem;
				position: relative;
			}
			.avatarImage {
				font-size: 3rem;
				color: $bpwGray;
			}
			.dropdown-menu {
				right: 0;
				left: auto;
				z-index: 10000;
				width: 12rem;
				margin-top: 4px !important;

				.card {
					margin-top: 20px;
					padding: 30px;
					background-color: rgba(214, 224, 226, 0.2);
					-webkit-border-top-left-radius: 5px;
					-moz-border-top-left-radius: 5px;
					border-top-left-radius: 5px;
					-webkit-border-top-right-radius: 5px;
					-moz-border-top-right-radius: 5px;
					border-top-right-radius: 5px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
				.card.hovercard {
					position: relative;
					//background-image: linear-gradient($bpwUnternehmensfarbe, $bpwAkzentfarbeAquamarin);
					padding-top: 0;
					overflow: hidden;
					text-align: center;
					background-color: #fff;
					background-color: rgba(255, 255, 255, 1);
				}
				.card.hovercard .card-background {
					height: 5rem;
				}
				.card-background img {
					-webkit-filter: blur(25px);
					-moz-filter: blur(25px);
					-o-filter: blur(25px);
					-ms-filter: blur(25px);
					filter: blur(25px);
					margin-left: -100px;
					margin-top: -200px;
					min-width: 130%;
				}
				.card.hovercard .useravatar {
					position: absolute;
					top: 15px;
					left: 0;
					right: 0;
				}
				.card.hovercard .useravatar img {
					width: 100px;
					height: 100px;
					max-width: 100px;
					max-height: 100px;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					border: 5px solid rgba(255, 255, 255, 0.5);
				}
				.card.hovercard .card-info {
					position: absolute;
					bottom: 14px;
					left: 0;
					right: 0;
				}
				.card.hovercard .card-info .card-title {
					padding: 0 5px;
					font-size: 1rem;
					line-height: 1;
					color: #737373;
					background-color: rgba(255, 255, 255, 0.1);
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
				}
				.card.hovercard .card-info {
					overflow: hidden;
					font-size: 12px;
					line-height: 20px;
					color: #737373;
					text-overflow: ellipsis;
				}
				.card.hovercard .bottom {
					padding: 0 20px;
					margin-bottom: 17px;
				}
				.btn-pref .btn {
					-webkit-border-radius: 0 !important;
				}

				.avatarList {
					color: #737373;
					font-size: 0.9rem;
					a {
						color: #737373;
					}
					span {
						color: $bpwBlue;
					}
				}
			}
		}
	}

}

#sidebar {
	overflow: hidden;
	z-index: 3;

	@media (max-width: 768px) {
		min-width: 35px;
		max-width: 40px;
		overflow-y: auto;
		overflow-x: visible;
		transition: all 0.25s ease;
		transform: translateX(-45px);
		position: fixed;

		&::-webkit-scrollbar {
			width: 0px;
		}
		&.show {
			transform: translateX(0);
		}
	}
	i {
		margin-right: 6px;
	}
	.list-group {
		min-width: 400px;
		background-color: #333;
		min-height: 100vh;

		.collapse.show {
			visibility: visible;
		}

		.collapsing {
			visibility: visible;
			height: 0;
			-webkit-transition-property: height, visibility;
			transition-property: height, visibility;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}

		.collapsing.width {
			-webkit-transition-property: width, visibility;
			transition-property: width, visibility;
			width: 0;
			height: 100%;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}

		@media (max-width: 768px) {
			min-width: 35px;
			overflow: visible;
			.collapse.show, .collapsing {
				position: relative;
				z-index: 1;
				width: 190px;
				top: 0;
			}
			> .list-group-item {
				text-align: center;
				padding: .75rem .5rem;
			}
			/* hide caret icons of top level when collapsed */
			> .list-group-item[aria-expanded="true"]::after,
			> .list-group-item[aria-expanded="false"]::after {
				display: none;
			}
		}
		.list-group-item {
			border-radius: 0;
			background-color: #333;
			color: #ccc;
			border-left: 0;
			border-right: 0;
			border-color: #2c2c2c;
			white-space: nowrap;
			&:not(.collapsed) {
				background-color: #5a5858;
			}
		}
		.list-group-item[aria-expanded="false"]::after {
			content: " \f0d7";
			font-family: FontAwesome;
			display: inline;
			text-align: right;
			padding-left: 5px;
		}
		.list-group-item[aria-expanded="true"] {
			background-color: #222;
		}
		.list-group-item[aria-expanded="true"]::after {
			content: " \f0da";
			font-family: FontAwesome;
			display: inline;
			text-align: right;
			padding-left: 5px;
		}
	}
	> .list-group {
		> .list-group-item {
			/* level 0*/
			padding-left: 30px;
			&:not(.collapsed) {
				background-color: #5a5858;
			}
		}
		> .collapse, > .collapsing {
			margin-bottom: 10px;
			border-bottom: #bfbfbf 2px solid;
			> .list-group-item {
				/* level 1*/
				padding-left: 50px;
			}
			> .collapse, > .collapsing {
				margin-bottom: 10px;
				border-bottom: #bfbfbf 2px solid;
				> .list-group-item {
					/* level 2*/
					padding-left: 70px;
				}
				> .collapse, > .collapsing {
					margin-bottom: 10px;
					border-bottom: #bfbfbf 2px solid;
					> .list-group-item {
						/* level 3*/
						padding-left: 90px;
					}
				}
			}
		}
	}
}