.address-search-input {
	input[type="text"].form-control {
		&:focus {
			color: #495057;
			background-color: #fff;
			border-color: #ced4da;
			outline: 0;
			box-shadow: 0 0 0 0.2rem rgba(0, 40, 81, 0.25);
		}
	}

	&.form-control--select-valid {
		.is-valid, .input-group-append .input-group-text {
			border-color: $success;

			svg {
				color: $success !important;
			}
		}

		input[type="text"].form-control {
			&:focus {
				border-color: $success;
				box-shadow: 0 0 0 0.2rem rgba(13, 214, 0, 0.25);
			}
		}
	}

	&.form-control--select-invalid {
		.is-invalid, .input-group-append .input-group-text {
			border-color: $danger;

			svg {
				color: $danger !important;
			}
		}

		input[type="text"].form-control {
			&:focus {
				border-color: $danger;
				box-shadow: 0 0 0 0.2rem rgba(202, 32, 39, 0.25);
			}
		}
	}
}