/*------------------------------------*\
    #HEADER
\*------------------------------------*/
$bpw-app-header-footer-line-color: $COLOR-SECONDARY !default;
$bpw-app-navigation-link-font-weight: $GLOBAL-FONT-WEIGHT-MEDIUM !default;
$bpw-app-navigation-link-font-size: $font-size-base !default;
$bpw-app-navigation-link-normal-font-color: $COLOR-PRIMARY !default;
$bpw-app-navigation-link-border-radius: $GLOBAL-INPUT-BORDER-RADIUS !default;
$bpw-app-navigation-link-border-color: $COLOR-PRIMARY !default;
$bpw-app-navigation-link-active-font-color: $COLOR-WHITE !default;
$bpw-app-navigation-link-active-background-color: $COLOR-PRIMARY !default;
$bpw-app-navbar-light-toggler-border-color: rgba($primary, .4) !default;

.app-header {

	.dropdown-menu {
		z-index: 10000;
	}

	.navbar-light {

		.navbar-toggler {
			border-color: $bpw-app-navbar-light-toggler-border-color;

		}

	}

	.header-footer-line {
		height: 20px;
		background-color: $bpw-app-header-footer-line-color;
	}

	.nav-link {
		font-size: $bpw-app-navigation-link-font-size;
		line-height: 1.38em;
		text-transform: uppercase;
		text-align: center;
		font-weight: $bpw-app-navigation-link-font-weight;
		color: $bpw-app-navigation-link-normal-font-color !important;
		border-radius: $bpw-app-navigation-link-border-radius;
		border: 1px solid transparent;

		&:hover,
		&:focus {
			border: 1px solid $bpw-app-navigation-link-border-color;
		}

		&.active {
			//@include size(200px);
			background: $bpw-app-navigation-link-active-background-color;
			color: $bpw-app-navigation-link-active-font-color !important;
		}
	}

	.user-image {
		width: 40px;
		height: 40px;
		display: block;
		margin: 0 auto;
		border: 1px solid transparent;
	}

}

.navbar-expand {

	@each $breakpoint in map-keys($grid-breakpoints) {
		$next: breakpoint-next($breakpoint, $grid-breakpoints);
		$infix: breakpoint-infix($next, $grid-breakpoints);

		&#{$infix} {

			@include media-breakpoint-down($next) {

				.navbar-collapse {
					margin-top: 10px !important;
				}

			}
		}
	}

}