$bpw-app-filter-mobile-checkboxes-background-color: $COLOR-PRIMARY !default;
$bpw-app-filter-mobile-checkboxes-font-color: $COLOR-WHITE !default;
$bpw-app-card-filter-border-radius-lg: $border-radius-xl !default;


.DayPickerInput-OverlayWrapper {
	z-index: 10000;
}

// /*------------------------------------*\
//     #COLLAPSABLE FILTER
// \*------------------------------------*/

.card {
	overflow: inherit !important;
}

[data-toggle="collapse"] .fal:before {
	content: "\f139";
}

[data-toggle="collapse"].collapsed .fal:before {
	content: "\f13a";
}

.accordion {

	> .card {

		&:first-of-type {
			border-bottom: $card-border-width solid $card-border-color;
		}

		.card-header--transparent {
			background: transparent;
		}

	}

	.card--filter {

		&.card__border-radius {
			border-radius: $bpw-app-card-filter-border-radius-lg;
		}

	}
}

// /*------------------------------------*\
//     #CHECKBOX TOGGLE
// \*------------------------------------*/

.fa-toggle-off--primary {
	color: $gray-400;
}

// /*------------------------------------*\
// Checkboxes
// \*------------------------------------*/

$font-family-icon-fontawesome: $GLOBAL-ICON-FONT !default;
$fa-var-check: "\f00c" !default;
$check-icon: $fa-var-check !default;

@mixin checkbox-variant($parent, $color) {
	#{$parent} input[type="checkbox"]:checked + label,
	#{$parent} input[type="radio"]:checked + label {

		&::before {
			background-color: $color;
			border-color: $color;
		}

		&::after {
			color: #fff;
		}
	}
}

.bpw-checkbox {
	cursor: default;
	padding-left: 4px;

	label {
		cursor: pointer;
		display: inline;
		vertical-align: top;
		position: relative;
		padding-left: 5px;

		&::before {
			cursor: pointer;
			content: "";
			display: inline-block;
			position: absolute;
			width: 17px;
			height: 17px;
			top: 2px;
			left: 0;
			margin-left: -$form-check-input-gutter;
			border: 1px solid $input-border-color;
			border-radius: 3px;
			background-color: #fff;
			@include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
		}

		&::after {
			cursor: pointer;
			display: inline-block;
			position: absolute;
			width: 16px;
			height: 16px;
			left: 0;
			top: 2px;
			margin-left: -$form-check-input-gutter;
			padding-left: 3px;
			padding-top: 1px;
			font-size: 11px;
			color: $input-color;
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		position: static;
		margin-left: 0;
		cursor: pointer;
		opacity: 0;
		z-index: 1;

		&:focus + label::before {
			outline: thin dotted;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}

		&:checked + label::after {
			font-family: $font-family-icon-fontawesome;
			content: $check-icon;
		}

		&:disabled + label {
			opacity: 0.65;

			&::before {
				background-color: $input-disabled-bg;
				cursor: not-allowed;
			}

			&::after {
				cursor: not-allowed;
			}
		}
	}

	&.bpw-checkbox-circle label::before {
		border-radius: 50%;
	}

	&.checkbox-inline {
		margin-top: 0;
	}
}

@include checkbox-variant('.bpw-checkbox-primary', theme-color(primary));
@include checkbox-variant('.bpw-checkbox-danger', theme-color(danger));
@include checkbox-variant('.bpw-checkbox-info', theme-color(info));
@include checkbox-variant('.bpw-checkbox-warning', theme-color(warning));
@include checkbox-variant('.bpw-checkbox-success', theme-color(success));


// /*------------------------------------*\
// Checkboxes Mobile
// \*------------------------------------*/

.css-1rhbuit-multiValue {

	background: $bpw-app-filter-mobile-checkboxes-background-color !important;

	.css-12jo7m5 {
		color: $bpw-app-filter-mobile-checkboxes-font-color !important;
	}

	.css-tj5bde-Svg {
		fill: $bpw-app-filter-mobile-checkboxes-font-color !important;
	}
}

.css-1n7v3ny-option {
	background: rgba(map-get($theme-colors, 'primary'), .25) !important;
}