.delivery-tracker-input-check-delivery {
	.select__control {
		height: calc(1.5em + 1rem + 2px);
		font-size: 1.25rem;
		line-height: 1.5;
		border-radius: 0.2rem;
		font-weight: 400;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

		.select__value-container {
			padding-left: 28px;

			.svg-inline--fa {
				width: 0.8em;
				height: 0.8em;
			}
		}
	}

	.select__placeholder {
		color: #6c757d;
		margin-left: 2px;
		margin-right: 2px;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		box-sizing: border-box;
	}

	.select__value-container {
		.svg-inline--fa {
			color: #6c757d;
		}
	}

	.form-control-lg {
		&:focus {
			outline: none !important;
		}
	}

	.form-control--select-valid > .select__control {
		border-color: $success;
		padding-right: calc(1.5em + 0.75rem);
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: center right calc(0.375em + 0.1875rem);
		background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

		.svg-inline--fa {
			color: $success;
		}

		.select__indicator-separator {
			background-color: $success;
		}
	}

	.form-control--select-invalid > .select__control {;
		border-color: $warning;
		padding-right: calc(1.5em + -1.25rem);
		background-repeat: no-repeat;
		//background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
		background-position: center right calc(0.375em + 0.1875rem);
		background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

		.svg-inline--fa {
			color: $warning;
		}

		.select__indicator-separator {
			background-color: $warning;
		}

		&:after {
			color: $warning;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-family: 'Font Awesome 5 Pro';
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transform: translate(0, 0);
			content: "\f12a";
			margin-left: 12px;
		}
	}

	.select-invalid-warning > .select__control {;
		border-color: $warning;
		.svg-inline--fa {
			color: $warning;
		}

		.select__indicator-separator {
			background-color: $warning;
		}

		&:after {
			color: $warning;
		}
	}

	.select-invalid-danger > .select__control {;
		border-color: $danger;
		.svg-inline--fa {
			color: $danger;
		}

		.select__indicator-separator {
			background-color: $danger;
		}

		&:after {
			color: $danger;
			content: "\f00d";
		}
	}

	.select__control--is-focused {
		box-shadow: none !important;
	}

	.invalid-feedback {
		color: $warning;
		&.select-invalid-danger {
			color: $danger;
		}
		&.select-invalid-warning {
			color: $warning;
		}
		&.show {
			display: block;
		}

		&.hide {
			display: none;
		}
	}
}