@import "variables";

@font-face {
  font-family: 'bpwLogoFont';
  src:  url('#{$icomoon-font-path}/bpwLogoFont.eot?5olhxr');
  src:  url('#{$icomoon-font-path}/bpwLogoFont.eot?5olhxr#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/bpwLogoFont.ttf?5olhxr') format('truetype'),
    url('#{$icomoon-font-path}/bpwLogoFont.woff?5olhxr') format('woff'),
    url('#{$icomoon-font-path}/bpwLogoFont.svg?5olhxr#bpwLogoFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bpwl {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bpwLogoFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.bpw-logo-iconlogoFont {
  &:before {
    content: unicode($bpw-logo-iconlogoFont); 
  }
}
.bpw-logo-iconlogo {
  &:before {
    content: unicode($bpw-logo-iconlogo); 
  }
}

