/*
.input-group > .form-control:invalid {
	color: red;
	border-color: red;

	+ .input-group-append > .input-group-text {
		border: 1px solid red;
	}

}
*/

.site-asset-create {
	#assetMap {
		max-height: 400px;
	}
	.input-group-append--transparent {
		background: transparent;
	}

	.form-control:disabled,
	.form-control[readonly] {
		background-color: transparent;
		opacity: 1;
	}

	.form-control:invalid,
	.input-group > .form-control:invalid {
		border: 1px solid $danger;

		+ .input-group-append > .input-group-text,
		+ .input-group-prepend > .input-group-text {
			border: 1px solid $danger;
		}
	}

	.form-control:invalid,
	.input-group > .form-control:valid {
		border: 1px solid $success;

		+ .input-group-append > .input-group-text,
		+ .input-group-prepend > .input-group-text {
			border: 1px solid $success;
		}
	}

	.form-control-lg.form-control--select-valid > .select__control {
		border: 1px solid $success;
	}

	.form-control-lg.form-control--select-invalid > .select__control {
		border: 1px solid $danger;
	}

	.form-create {
		label {
			text-transform: uppercase;
		}
	}

	.delivery-create {

		&.delivery-create--address {
			position: absolute;
			top: 5rem;
			bottom: 0;
			width: 98%;
			z-index: 9999;
			overflow: auto;
			height: 15rem;

			&.delivery-create--address-show {
				display: block;
			}

			&.delivery-create--address-hide {
				display: none;
			}

		}

	}

	.form-control--select {
		padding: 0;

		.select__control,
		.select__value-container {
			min-height: 48px;
		}

		.select__value-container {
			border-right: none;
		}

	}

	.select__indicators {
		border-left: none;
	}

	.form-control__append--reset {
		cursor: pointer;
		visibility: visible;

		&.hide {
			visibility: hidden;
		}

		&.show {
			visibility: visible;
		}
	}

}