#asset-list-container {
	overflow-y: scroll;
	overflow-x: hidden;
}
$bpw-nav-tabs-link-active-color: $nav-tabs-link-active-color !default;
$bpw-nav-tabs-link-color: $nav-tabs-link-color !default;
$bpw-nav-tabs-border-color: $nav-tabs-border-color !default;
$bpw-table-th-font-color: rgba(theme-color("primary"), .5) !default;

$bpw-app-border-color: $GLOBAL-BORDER-PRIMARY-COLOR !default;
$border-color: $bpw-app-border-color !default;
$bpw-app-progress-height: $progress-height / 2 !default;
$bpw-app-card-filter-border-radius-lg: $border-radius-xl !default;

//
// Tabs
//

.nav-tabs {
	border-bottom: none;

	.nav-item {
		margin-bottom: -$nav-tabs-border-width;
	}

	.nav-link {
		border: none;
		color: $bpw-nav-tabs-link-color !important;
	}

	.nav-link.active,
	.nav-item.show .nav-link {
		color: $bpw-nav-tabs-link-active-color !important;
		border-bottom: 3px solid $bpw-nav-tabs-border-color;
	}

}

th {
	text-transform: uppercase;
	color: $bpw-table-th-font-color;
	font-size: $font-size-sm;
}

// /*------------------------------------*\
//     #COLLAPSABLE FILTER
// \*------------------------------------*/

.card {
	@include media-breakpoint-down(sm) {

		h3 {
			font-size: $font-size-base * 1.25;
			line-height: $line-height-base;
		}

	}

	overflow: inherit !important;
}

.accordion {

	> .card {

		&:first-of-type {
			border-bottom: $card-border-width solid $card-border-color;
		}

		.card-header--transparent {
			background: transparent;
		}

	}

	.card--filter {

		&.card__border-radius {
			border-radius: $bpw-app-card-filter-border-radius-lg;
		}

	}

	p {
		margin-bottom: 0.5rem;
	}
}

// /*------------------------------------*\
//     #DATA CARET
// \*------------------------------------*/

@mixin caret-dt {
	border-top: $caret-width solid transparent;
	border-right: 0;
	border-bottom: $caret-width solid transparent;
	border-left: $caret-width solid;
}

@mixin caret($direction: down) {
	@if $enable-caret {

		@if $direction == dt {
			&::after {
				display: none;
			}

			&::before {
				@include caret-dt;
				display: inline-block;
				margin-right: $caret-spacing;
				vertical-align: $caret-vertical-align;
				content: "";
			}
		}

		&:empty::after {
			margin-left: 0;
		}
	}
}

.dl__info--contact {

	dt {

		@include caret(dt);

		&::before {
			vertical-align: 0;
		}

		margin-bottom: 0.5rem;
	}

	dd {
		padding-left: $list-inline-padding;
		margin-bottom: 0;
	}

}

.table--asset {

	.table--asset-clickable {
		cursor: pointer;
	}

}

.asset-type-select {
	&.is-valid {
		.select__control {
			min-height: 28px;
			height: calc(1.5em + 1rem - 0px);
			border-width: 0;
		}
	}

	&.is-invalid {
		.select__control {
			min-height: 28px;
			height: calc(1.5em + 1rem - 0px);
			border-width: 0;
		}
	}
}

.none-background {
	background-color: transparent !important;
}
.text-black {
	color: black;
}