.input-group-append--transparent {
	background: transparent;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: transparent;
	opacity: 1;
}

/*
.input-group > .form-control:invalid {
	color: red;
	border-color: red;

	+ .input-group-append > .input-group-text {
		border: 1px solid red;
	}

}
*/

.site-delivery-create {

	/*.input-group > .form-control:invalid {
		border: 1px solid $danger;
		+ .input-group-append > .input-group-text,
		+ .input-group-prepend > .input-group-text {
			border: 1px solid $danger;
		}
	}

	.input-group > .form-control:valid {
		border: 1px solid $success;
		+ .input-group-append > .input-group-text,
		+ .input-group-prepend > .input-group-text {
			border: 1px solid $success;
		}
	}

	.form-control-lg.form-control--select-valid > .select__control {
		border: 1px solid $success;
	}

	.form-control-lg.form-control--select-invalid > .select__control {
		border: 1px solid $danger;
	}*/

}

.form-create {
	label {
		text-transform: uppercase;
	}
}

.delivery-create {

	&.delivery-create--address {
		position: absolute;
		top: 5rem;
		bottom: 0;
		width: 98%;
		z-index: 9999;
		overflow: auto;
		height: 15rem;

		&.delivery-create--address-show {
			display: block;
		}

		&.delivery-create--address-hide {
			display: none;
		}

	}

}

.css-2b097c-container {
	padding: 0;

	.css-yk16xz-control,
	.css-1hwfws3 {
		min-height: 48px;
	}

	.css-1hwfws3 {
		border-right: none;
	}

}

.select__indicators.css-1g48xl4-IndicatorsContainer {
	border-left: none;
}

.clickable-row:hover {
	cursor: pointer;
}

.clickable-a {
	cursor: pointer;
	visibility: visible;

	&.hide {
		visibility: hidden;
	}

	&.show {
		visibility: visible;
	}
}