$bpw-app-border-color: $GLOBAL-BORDER-PRIMARY-COLOR !default;
$border-color: $bpw-app-border-color !default;
$bpw-app-progress-height: $progress-height / 2 !default;
$bpw-app-card-filter-border-radius-lg: $border-radius-xl !default;
$bpw-gray-600: lighten($bpw-app-border-color, 7.5%) !default;


#delivery-detail-container {
	overflow-y: scroll;
	overflow-x: hidden;
}

.border-primary {
	border-color: $bpw-app-border-color !important;
}

.progress {
	height: $bpw-app-progress-height;
}

// /*------------------------------------*\
//     #COLLAPSABLE FILTER
// \*------------------------------------*/

.card {
	@include media-breakpoint-down(sm) {

		h3 {
			font-size: $font-size-base * 1.25;
			line-height: $line-height-base;
		}

	}

	overflow: inherit !important;
}

.accordion {

	> .card {

		&:first-of-type {
			border-bottom: $card-border-width solid $card-border-color;
		}

		.card-header--transparent {
			background: transparent;
		}

	}

	.card--filter {

		&.card__border-radius {
			border-radius: $bpw-app-card-filter-border-radius-lg;

			&.card__border-dark {
				border-color: $bpw-gray-600;
			}
		}

	}

	p {
		margin-bottom: 0.5rem;
	}
}

// /*------------------------------------*\
//     #DATA CARET
// \*------------------------------------*/

@mixin caret-dt {
	border-top: $caret-width solid transparent;
	border-right: 0;
	border-bottom: $caret-width solid transparent;
	border-left: $caret-width solid;
}

@mixin caret($direction: down) {
	@if $enable-caret {

		@if $direction == dt {
			&::after {
				display: none;
			}

			&::before {
				display: inline-block;
				margin-right: $caret-spacing;
				vertical-align: $caret-vertical-align;
				content: "";
				@include caret-dt;
			}
		}

		&:empty::after {
			margin-left: 0;
		}
	}
}

.dl__info--contact {

	dt {

		@include caret(dt);

		&::before {
			vertical-align: 0;
		}

		margin-bottom: 0.5rem;
	}

	dd {
		padding-left: $list-inline-padding;
		margin-bottom: 0;
	}

}

