$bpw-app-breadcrumb-padding-y: 0.55rem !default;
$bpw-app-breadcrumb-headings-line-height: $headings-line-height - 0.2 !default;
$bpw-app-breadcrumb-inactive-color: $gray-600 !default;
$bpw-app-breadcrumb-active-color: $COLOR-PRIMARY !default;
$bpw-app-cards-display-5-font-size: $display5-size !default;
$bpw-app-cards-display-6-font-size: $display6-size !default;
$bpw-app-cards-display-5-font-weight: $GLOBAL-FONT-WEIGHT-BOLD !default;
$bpw-app-cards-display-6-font-weight: $GLOBAL-FONT-WEIGHT-BOLD !default;
$bpw-app-popover-padding-x: $popover-header-padding-x * 2 !default;
$bpw-app-display-6-line-height: 0.75 !default;
$bpw-app-site-box-lg-shadow: 1rem 0.3rem 1rem rgba($black, .175) inset !default;

.infinite-scroll-component {
	overflow: hidden !important;
}

#delivery-list-container {
	overflow-y: scroll;
	overflow-x: hidden;
}

.shadow-bpw-lg {
	box-shadow: $bpw-app-site-box-lg-shadow !important;
}

.btn-group.special {
	display: flex;
}

.special .btn {
	flex: 1
}

.site-delivery {
	overflow: scroll;
}

.breadcumb__main-site--headline {

	.breadcrumb {
		padding: $bpw-app-breadcrumb-padding-y $breadcrumb-padding-x;
		padding-left: 0;
		margin-bottom: 0;
		background-color: transparent;
	}

	.breadcrumb-item {

		&.active {
			color: $bpw-app-breadcrumb-active-color;
			font-size: $h5-font-size;
			line-height: $bpw-app-breadcrumb-headings-line-height;
		}

	}

	li.breadcrumb-item {

		a {
			color: $bpw-app-breadcrumb-inactive-color;

			&:hover {
				color: $bpw-app-breadcrumb-active-color;
			}

		}
	}

}

.display-5 {
	@include font-size($bpw-app-cards-display-5-font-size);
	font-weight: $bpw-app-cards-display-5-font-weight;
	line-height: $display-line-height;
}

.display-6 {
	@include font-size($bpw-app-cards-display-6-font-size);
	font-weight: $bpw-app-cards-display-6-font-weight;
	line-height: $bpw-app-display-6-line-height;
}

// Offset the popover to account for the popover arrow
.popover-header {
	@include font-size($h3-font-size);
	padding: $popover-header-padding-y $bpw-app-popover-padding-x;
	background-color: transparent;
	border-bottom: none;
}

.popover-body {
	padding: $popover-body-padding-y $bpw-app-popover-padding-x;
	color: $popover-body-color;
}

@include media-breakpoint-down(sm) {

	h1 {
		font-size: 2.2rem;
	}

}

#ptr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	z-index: 10;
	text-align: center;
	height: 50px;
}

#ptr .genericon {
	opacity: .6;
	font-size: 34px;
	width: auto;
	height: auto;
	transition: all .25s ease;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-top: 5px;
}

.ptr-refresh #ptr .genericon {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.ptr-loading #ptr .genericon,
.ptr-reset #ptr .genericon {
	display: none;
}

.loading {
	display: inline-block;
	text-align: center;
	opacity: .4;
	margin: 12px 0 0 5px;
	display: none;
}

.ptr-loading .loading {
	display: block;
}

.loading span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
	border-radius: 50%;
	-webkit-animation: ptr-loading 0.4s infinite alternate;
	animation: ptr-loading 0.4s infinite alternate;
}

#l1 {
	-webkit-animation-delay: 0;
	animation-delay: 0;
}

#l2 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

#l3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

@-webkit-keyframes ptr-loading {
	0% {
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background-color: #fff;
		opacity: 1;
	}
}

@keyframes ptr-loading {
	0% {
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background-color: #fff;
		opacity: 1;
	}
}

#content {
	background: #fff;
	min-height: 100%;
	z-index: 20;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	padding: 50px 20px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 200;
	color: #555;
	box-sizing: border-box;
}

.ptr-loading #content, .ptr-reset #content,
.ptr-loading #ptr, .ptr-reset #ptr {
	transition: all .25s ease;
}

.ptr-reset #content {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.ptr-loading #content {
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
}
