
$bpwGray: #8c8b8b;

$bpwUnternehmensfarbe: #002851;

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
	color: #212529;
	background-color: #bbcc28;
	border-color: #dfeb78;
	border-width: 3px;
}

#message {
	color: $bpwGray;
	position: relative;
	padding: 0;
	p {
		padding: 0px 35px;
		font-size: 1rem;
		margin-bottom: 0;
	}
	.valid {
		color: green;
	}


	.valid:before {
		position: relative;
		left: -35px;
		content: "✔";
	}

	/* Add a red text color and an "x" when the requirements are wrong */
	.invalid {
		color: red;
	}

	.invalid:before {
		position: relative;
		left: -35px;
		content: "✖";
	}
}


